@CHARSET "ISO-8859-1";

html, body{
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 100px;
	font-size: 14px;
	font-family: Tahoma,Arial,Verdana;
	
}

div#printContent h4.title{
	font-size: 18px;
	font-weight: bolder;
}